<html>
  <%- include('../partials/style'); %>
  <body>
    <div>
      <p>Bonjour <span><%= userName %></span>,</p>
      <br />
      <p>
        Bienvenue sur le BC+ ! Vous avez été ajouté par <span><%= creatorName %></span>.
      </p>
      <p>
        Pour avoir acces à l'application, vous pouvez finaliser la création de votre compte sur
        <a href="<%= link %>">ce lien</a>.
      </p>
      <p>
        En cas de question vous pouvez consulter
        <a href="https://association-pour-la-transition-1.gitbook.io/bc+">notre FAQ</a> ou nous envoyer un email à
        <a href="mailto:<%= support %>"><%= support %></a>.
      </p>
      <br />
      <p>Bonne journée,</p>
      <p>Cordialement,</p>
      <p>L'équipe BC+</p>
    </div>
  </body>
</html>
