<html>
  <%- include('../partials/style'); %>
  <body>
    <div>
      <p>Bonjour <span><%= userName %></span>,</p>
      <br />
      <p>
        Bienvenue sur le calculateur Clicks On Act ! Vous avez été ajouté par <span><%= creatorName %></span>.
      </p>
      <p>
        Pour avoir acces à l'application, vous pouvez finaliser la création de votre compte sur
        <a href="<%= link %>">ce lien</a>.
      </p>
      <%- include('./partials/faq'); %>
      <br />
      <%- include('./partials/signature'); %>
    </div>
  </body>
</html>
