<html>
  <body>
    <div>
      <p>Bonjour <span><%= userName %></span>,</p>
      <br />
      <p>
        Vous avez été ajouté par <span><%= creatorName %></span> en tant que contributeur sur l'étude
        <a href="<%= studyLink %>"><%= studyName %></a> pour l'organisation <span><%= organizationName %></span>.
      </p>
      <p>
        Afin de contributer, vous pouvez vous connecter sur le BC+ comme habituellement sur
        <a href="<%= link %>">ce lien</a>, et vous pouvez retrouver cette étude dans <b>l'espace contribution</b> sur la
        page d'accueil.
      </p>
      <br />
      <p>Bonne journée,</p>
      <p>Cordialement,</p>
      <p>L'équipe BC+</p>
    </div>
  </body>
</html>
